body{
	background: #1b2838;
}
div#mid_content{
	margin-bottom: 150px;
}
div.mid_top{
	height: 80px;
}
div.Navigation_bar{
	width: 940px;
	height: 50px;
	margin: 20px auto;
}
div#error_display{
	width: 620px;
	background: rgba(0,0,0,0.2);
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	display: none;
	color: rgb(204, 51, 0);
}
div.login_content{
	width: 940px;
	margin: 0px auto;
	position: relative;
}
div #back_color{
	background: rgba(0,0,0,0.2);
	width: 640px;
	height: 400px;
	margin-bottom: 10px;
	position: relative;
}
div.input_content{
	width:290px;
	border-right: 1px solid #264959;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 40px;
}
div.button_bottom{
	clear: both;
}
.head_text{
	font-size: 18px;
	color: #FFFFFF;
	font-weight: normal;
}
#uname,#upwd{
	width: 212px;
	padding: 3px;
	margin: 10px 10px 15px 10px;
	height: 18px;
	background-color: rgba(0,0,0,0.2);
	color: white;
	border: 1px solid #000;
	border-radius: 3px;
}
.login_right{
	position: absolute;
	width: 275px;
	right: 30px;
	top: 15px;
}
.button_bottom{
	margin-left: 20px;
	margin-bottom: 50px;
}
.login_button{
	width: 62px;
	height: 32px;
	border: none;
	border-radius: 2px;
	padding: 1px;
	color: #67C1F5;
	background: rgba(103,193,245,0.2);
	cursor: pointer;
	margin-bottom: 100px;
}
.login_button:hover{
	background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	color: #fff;
}
.reg_button:hover{
	background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}
.reg_button:hover a{
	color: #fff;
}

.reg_button{
	width: 110px;
	height: 32px;
	border: none;
	border-radius: 2px;
	padding: 1px;
	color: #67C1F5;
	background: rgba(103,193,245,0.2);
	cursor: pointer;
	margin-left: 300px;
}
.rightcol{
	width: 308px;
	position: absolute;
	top: 0;
	right: 0;
}
.right_content{
	background:rgba(0,0,0,0.2); 
	margin-left: 20px;
}
.right_content ul{
	list-style: square;
	color: white;
	font-size: 16px;
	margin-top: 15px;
	margin-left: 15px;
}
.right_content li{
	color: #C6D4DF;
	padding: 8px;
	font-size: 12px;
}
.right_text{
	margin: 0px 20px;
}
#hidde{
	margin-top: 10px;
	margin-left: 20px;
}
#hidde a{
	color: white;
	font-size: 12px;
}
