*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #184460;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.a-text-style a{
	font-size:14px;
	color: #C6D4DF;
}
body .font-size-14px{
	font-size: 14px;
	color:#c6d4df;
}
body .font-size-12px{
	font-size: 12px;
	color:#c6d4df;
}
body .size12-8f98A0{
	font-size: 12px;
	color: #8F98A0;
}
#top{
	min-width: 940px;
	height:104px;
	background-color:#171a21;
	padding-left: 16px;
	padding-right: 16px;
}
#top .content a:hover{
	color: #fff;
}
#top .content .top_link a:hover{
	color: #FFFFFF;
}
#logo_img{
	width: 176px;
	height: 44px;
}
#top .content{
	position: relative;
	width: 940px;
	height: 104px;
	right: -90px;
	height: 104px;
	margin: 0px auto;
}
div.logo_size{
	float: left;
	padding-top: 30px;
	margin-right:40px ;
	width: 176px;
	height: 44px;
}
.top_link{
	position: absolute;
	left: 200px;
}
div#top .top_link .four_Navigation{
	display: block;
	position: relative;
	padding-top: 45px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	line-height: 16px;
	float: left;
}
div#login-lang{
	position: absolute;
	right: 0px;
}
#login-lang .login a{
	color: #b8b6b4;
}

div#footer{
	position: relative;
	width: 100%;
	top:auto;
	bottom: auto;
	left: 0;
	right: 0;
	padding: 20px 0px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.3)
	 0%,rgba(0,0,0,0.5) 100%);
}
#footer .footer_content{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
.footer_content div{
	padding: 10px;
}
.footer_text{
	border-top: 1px solid #29363d;
	border-bottom: 1px solid #29363d;
}
#footer .footer_logo{
	float: right;
}
#footer .footer_logo img{
	height: 50px;
}
.Thank{
	font-size: 13px;
	color: #C6D4DF;
}



