<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/comm.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="icon" type="image/x-con" href="img/N.ico" />
    </head>
    <body class="app font-size-12px">
        <div class="fixed">
            <div class="tips-message">
                <div class="message">
                    请你先登录
                </div>
                <div class="operation">
                    <a href="login.html" class="message-link login-link">跳转到登录页面</a>
                    <a href="javascript:;" class="message-link">取消</a>
                </div>
            </div>
        </div>
        <div id="app">
            <div id='top'>
                <div class="content">
                    <div class="logo_size">
                        <a href="index.html">
                            <img src="img/logo.png" id="logo_img"></a>
                    </div>
                    <div class="top_link a-text-style">
                        <a href="" class="four_Navigation">商店</a>
                        <a href="" class="four_Navigation">社区</a>
                        <a href="" class="four_Navigation">关于</a>
                        <a href="" class="four_Navigation">客服</a>
                    </div>
                    <div id="login-lang">
                        <div class="login a-text-style font-size-14px">
                            <a href="login.html" v-if="!localStorage">登录</a>
                            <a href="javascript:;" v-else>
                                <img src="img/user.jpg" class="avatar">&nbsp;
                                <span v-text="localStorage"></span>
                            </a>
                            &nbsp;|&nbsp;
                            <a href="register.html" v-if="!localStorage">注册</a>
                            <a href="javascript:;" v-if="localStorage" @click="clearStorage">注销</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='home_body'>
                <div class="home_body_NinthArt">
                    <div class="cart-link" v-if="StorageUid">
                        <a href="order.html" class="order">我的订单</a>
                        <a href="cart.html" class="cart">我的购物车</a>
                    </div>
                    <div class="NinthArt_content">
                        <div class='tab' id="shop_tab">
                            <span class="pulldown">
                                <a href="javascript:;" class='pulldown_desktop'>你的NinthArt</a>
                                <span></span>
                            </span>
                            <div class="popup" id="shop_popup" style="visibility: visible;top: 35px;left: 0px; display: none;">
                                <div class="popup_content">
                                    <a href="index.html" class='popup_item'>商店主页</a>
                                    <a href="cart.html" class='popup_item'>您的购物车</a>
                                    <a href="order.html" class='popup_item'>您的订单</a>
                                </div>
                            </div>
                        </div>
                        <div class='tab' id="game_tab">
                            <span class="pulldown">
                                <a href="apps.html?tid=4" class='pulldown_desktop'>动作游戏</a>
                                <span></span>
                            </span>
                            <div class="popup" id="game_popup" style="visibility: visible;top: 35px;left: 125px; display: none;width: 100px;">
                                <div class="popup_content">
                                    <a href="app.html?gid=1" class='popup_item'>只狼</a>
                                    <a href="apps.html?term=魂" class='popup_item'>魂系列</a>
                                    <a href="apps.html?term=devil" class='popup_item'>鬼泣系列</a>
                                    <a href="apps.html?tid=5" class='popup_item'>ARPG</a>
                                </div>
                            </div>
                        </div>

                        <div class='tab' id="software_tab">
                            <span class="pulldown">
                                <a href="apps.html?tid=2" class='pulldown_desktop'>射击游戏</a>
                                <span></span>
                            </span>
                            <div class="popup" id="software_popup" style="visibility: visible;top: 35px;left: 225px;display: none;">
                                <div class="popup_content">
                                    <a href="apps.html?term=cod" class='popup_item'>COD</a>
                                    <a href="apps.html?tid=3" class='popup_item'>第三人称射击</a>
                                    <a href="apps.html?tid=7" class='popup_item'>多人在线</a>
                                    <a href="app.html?gid=22" class='popup_item'>大逃杀</a>
                                </div>
                            </div>
                        </div>
                        <div class='tab' id="hardware_tab">
                            <span class="pulldown">
                                <a href="apps.html?tid=1" class='pulldown_desktop'>角色扮演</a>
                                <span></span>
                            </span>
                            <div class="popup" id="hardware_popup" style="visibility: visible;top: 35px;left: 325px; display: none;">
                                <div class="popup_content">
                                    <a href="app.html?gid=23" class='popup_item'>火炬之光</a>
                                    <a href="app.html?gid=12" class='popup_item'>暗黑血统</a>
                                    <a href="apps.html?term=巫师" class='popup_item'>巫师系列</a>
                                    <a href="apps.html?tid=12" class='popup_item'>黑暗之魂系列</a>
                                </div>
                            </div>
                        </div>
                        <a href="apps.html?tid=12" class='tab'><span>硬核游戏</span></a>
                        <a href="apps.html?tid=6" class='tab'><span>即时战略</span></a>
                        <div class="Search_box">
                            <input type="text" v-model="term" placeholder="搜索商店" @keyup="query($event)" onfocus="if(placeholder=='搜索商店'){placeholder=''}"
                                onblur="if(value==''){placeholder='搜索商店'}" />
                            <a :href="'apps.html?term='+term" class="Search_img">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="app_body" v-for="(item,i) of app_arr" :key='i'>
                <div class="app_bodycontent">
                    <div class="game_title">
                        <h3 v-text="item.game_name"></h3>
                        <div class="to_index">
                            <a href="index.html">返回主页</a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div class="app_video_introduction">
                            <div class="left_video">
                                <div class="left_video_content">
                                    <div class="left_container">
                                        <div :class="i==0?'md_item no_none':'md_item'" v-for="(img,i) in item.md_item"
                                            :key='i'>
                                            <video controls="controls" width="100%" autoplay muted v-if="item.video&&i==0">
                                                <source :src="item.video" type="video/mp4">
                                                你的浏览器，不支持此播放器
                                            </video>
                                            <img :src="img" v-else>
                                        </div>
                                        <div class="md_item" v-for="(img,i) in item.md_item">
                                            <img :src="img">
                                        </div>
                                    </div>
                                    <div class="strip">
                                        <div class="strip_scroll">
                                            <div class="select_border"></div>
                                            <div class="sm_img_item" v-for="(smImg,i) in item.Sm_img" :key="i">
                                                <img :src="smImg">
                                            </div>
                                            <div class="sm_img_item" v-for="(smImg,i) in item.Sm_img">
                                                <img :src="smImg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider_ctn">
                                        <div class="slider_left">
                                            <span></span>
                                        </div>
                                        <div class="slider">
                                            <div class="handle"></div>
                                        </div>
                                        <div class="slider_right">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right_col">
                                <div class="head_img">
                                    <img :src="item.index_img">
                                </div>
                                <div class="game_desc" v-text="item.contentDesc"></div>
                                <div class="glance">
                                    <div class="user_reviews">
                                        <div class="user_reviews_row">
                                            <div class="all_reviews">全部评测：</div>
                                            <div class="sum_reviews">世界第一！</div>
                                        </div>
                                        <div class="user_reviews_row date">
                                            <div class="all_reviews">发行日期：</div>
                                            <div class="sum_reviews fx_date" v-text="item.issue_time"></div>
                                        </div>
                                        <div class="user_reviews_row">
                                            <div class="all_reviews">开发商：</div>
                                            <div class="sum_reviews developers_list" v-text="item.developers"></div>
                                        </div>
                                        <div class="user_reviews_row">
                                            <div class="all_reviews">发行商</div>
                                            <div class="sum_reviews developers_list" v-text="item.publisher"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="game_type_title">
                                    <div class="all_reviews">该游戏的类型标签：</div>
                                    <div class="tag_row">
                                        <a :href="'apps.html?tid='+item.tid" v-for="(type,i) of item.type" :key="i">{{type}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc_content">
                    <div class="left_gameDesc">
                        <div class="game_area_purchase">
                            <div class="game_purchase_link">
                                <h1 v-text="'购买 '+item.game_name"></h1>
                                <div class="game_area_purchase_platform">
                                    <span class="is_win" v-if="item.is_win"></span>
                                    <span class="is_mac" v-if="item.is_mac"></span>
                                </div>
                                <div class="purchase_action">
                                    <div class="purchase_action_bg">
                                        <div class="pirce" v-text="'￥'+item.price"></div>
                                        <div class="purchase">
                                            <a href="javascript:;" class="purchase_link">
                                                购买此游戏
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="game_area_purchase">
                            <div class="game_purchase_link">
                                <h1 v-text="'预购 '+item.game_name"></h1>
                                <div class="game_area_purchase_platform">
                                    <span class="is_win" v-if="item.is_win"></span>
                                    <span class="is_mac" v-if="item.is_mac"></span>
                                </div>
                                <div class="purchase_action">
                                    <div class="purchase_action_bg">
                                        <div class="pirce" v-text="'￥'+item.price"></div>
                                        <div class="purchase">
                                            <a href="#" class="purchase_link" @click="addCart($event)">
                                                添加到购物车
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="game_autocollapse">
                            <div class="game_description">
                                <h2 class="h2_title">关于这款游戏</h2>
                                <div v-text="item.contentDesc"></div>
                            </div>
                        </div>
                        <div class="game_autocollapse">
                            <div class="sys_req">
                                <h2 class="h2_title">系统配置需求</h2>
                                <div class="sysreq_content">
                                    <div class="game_sysreq_content">
                                        <div class="left_sysreq">
                                            <span>最低配置</span>
                                            <ul>
                                                <li><span>操作系统:</span>{{item.min_os}}</li>
                                                <li><span>处理器:</span>{{item.min_cpu}}</li>
                                                <li><span>内存:</span>{{item.min_memory}}</li>
                                                <li><span>显卡:</span>{{item.min_gpu}}</li>
                                                <li><span>DirectX 版本:</span>{{item.min_directx}}</li>
                                                <li><span>网络:</span>{{item.network}}</li>
                                                <li><span>存储空间:</span> 需要 {{item.storag_space}}可用空间</li>
                                                <li><span>声卡:</span>{{item.min_sound_card}}</li>
                                            </ul>
                                        </div>
                                        <div class="right_sysreq">
                                            <span>推荐配置</span>
                                            <ul>
                                                <li><span>操作系统:</span>{{item.recommended_os}}</li>
                                                <li><span>处理器:</span>{{item.recommended_cpu}}</li>
                                                <li><span>内存:</span>{{item.recommended_memory}}</li>
                                                <li><span>显卡:</span>{{item.recommended_gpu}}</li>
                                                <li><span>DirectX 版本:</span>{{item.recommended_directx}}</li>
                                                <li><span>网络:</span>{{item.network}}</li>
                                                <li><span>存储空间:</span> 需要{{item.storag_space}}可用空间</li>
                                                <li><span>声卡:</span>{{item.recommended_sound_card}}</li>
                                            </ul>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recommended_block">
                            <div class="block_head">
                                <div>
                                    <h2 class="h2_title">更多类似产品</h2>
                                    <div class="recommended_box">
                                        <div class="recommended_ctn">
                                            <a href="javascript:;">
                                                <img src="img/app/DarkSoulsIII/DarkSoulsIII_index.jpg">
                                                <h4>DarkSoulsIII</h4>
                                                <span class="recommended_price">￥126</span>
                                            </a>
                                            <a href="javascript:;">
                                                <img src="img/app/DarkSoulsIII/DarkSoulsIII_index.jpg">
                                                <h4>DarkSoulsIII</h4>
                                                <span class="recommended_price">￥126</span>
                                            </a>
                                            <a href="javascript:;">
                                                <img src="img/app/DarkSoulsIII/DarkSoulsIII_index.jpg">
                                                <h4>DarkSoulsIII</h4>
                                                <span class="recommended_price">￥126</span>
                                            </a>
                                            <a href="javascript:;">
                                                <img src="img/app/DarkSoulsIII/DarkSoulsIII_index.jpg">
                                                <h4>DarkSoulsIII</h4>
                                                <span class="recommended_price">￥126</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slider_ctn">
                                        <div class="slider_left">
                                            <span></span>
                                        </div>
                                        <div class="slider">
                                            <div class="handle"></div>
                                        </div>
                                        <div class="slider_right">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_desc">
                        <div>
                            <div class="is_like">
                                你对这款游戏感兴趣吗？
                            </div>
                        </div>
                        <div>
                            <div class="beckoning">
                                请点击下面的小红心，以便我们更好的了解，您偏爱的游戏类型，
                                进而向您推荐更好的作品
                                <span class="heart"></span>
                            </div>
                        </div>
                        <div>
                            <div class="desc_title">
                                <div class="game_area_details_specs">
                                    <span class="icon"><img src="img/ico_singlePlayer.png"></span>
                                    <a href="javascript:;">单人</a>
                                </div>
                                <div class="game_area_details_specs">
                                    <span class="icon"><img src="img/ico_cart.png"></span>
                                    <a href="javascript:;">应用内购买</a>
                                </div>
                                <div class="game_area_details_specs">
                                    <span class="icon"><img src="img/ico_partial_controller.png"></span>
                                    <a href="javascript:;">部分支持控制器</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="lang">
                                <div class="lang_title">语言：</div>
                                <table>
                                    <tr>
                                        <td style="width: 94px;"></td>
                                        <td>界面</td>
                                        <td>完全音频</td>
                                        <td>字幕</td>
                                    </tr>
                                    <tr>
                                        <td>简体中文</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol"></td>
                                        <td class="checkol">✔</td>
                                    </tr>
                                    <tr>
                                        <td>英文</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol">✔</td>
                                    </tr>
                                    <tr>
                                        <td>法语</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol"></td>
                                        <td class="checkol">✔</td>
                                    </tr>
                                    <tr>
                                        <td>日语</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol"></td>
                                        <td class="checkol">✔</td>
                                    </tr>
                                    <tr>
                                        <td>西班牙语</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol">✔</td>
                                        <td class="checkol">✔</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div>
                            <div class="x18">
                                <img src="img/18.png">
                                <p>分级机构：泛欧洲游戏信息组织（PEGI）</p>
                            </div>
                        </div>
                        <div>
                            <div class="right_gamedesc">
                                <div class="start_name">
                                    <span>名称:</span>
                                    <span v-text="item.game_name"></span>
                                </div>
                                <div class="start_name">
                                    <span>类型:</span>
                                    <a :href="'apps.html?tid='+item.tid" v-for="(type,i) of item.type" :key="i">
                                        {{type}}
                                    </a>
                                </div>
                                <div class="start_name">
                                    <span>开发商:</span>
                                    <span v-text="item.developers"></span>
                                </div>
                                <div class="start_name">
                                    <span>发行商:</span>
                                    <span v-text="item.publisher"></span>
                                </div>
                                <div class="start_name">
                                    <span>发行时间:</span>
                                    <span v-text="item.issue_time"></span>
                                </div>
                                <a href="javascrpt:;" class="official_website">访问网站</a>
                            </div>
                        </div>
                        <div>
                            <div class="metacritic_evaluating">
                                <div class="fraction">100</div>
                                <span class="logo"></span>
                                <h3>metacritic</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 页尾 -->
        <div id="footer" class="text-style">
            <div class="footer_content">
                <div class="footer_logo">
                    <img src="img/logo.png" alt="logo">
                </div>
                <div class="footer_text size12-8f98A0">
                    ©2020 NinthArt。保留所有权利。所有商标均为其在NinthArt/地区的各自持有者所有。
                    <div class="a-text-style">
                        参考及借鉴网站（所有解释权归NinthArt所有）
                        <a href="https://www.3dmgame.com/" target="_blank">3DMGame</a>
                        &nbsp;|&nbsp;
                        <a href="https://store.steampowered.com/" target="_blank">Steam</a>
                        &nbsp;|&nbsp;
                        <a href="https://www.gamersky.com/" target="_blank">游民星空</a>
                        &nbsp;|&nbsp;
                        <a href="https://www.17173.com/" target="_blank">17173</a>
                    </div>
                </div>
                <div class="NinthArt_links a-text-style">
                    <a href="">关于NinthArt</a>
                    &nbsp;&nbsp;
                    <span class="Thank">网页作者联系方式 phone : 13637401397 &nbsp;&nbsp;
                        Wechat : a04192715</span>
                </div>
            </div>
        </div>
        </div>
        <script src="script/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="script/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="script/axiosInterceptors.js" type="text/javascript" charset="utf-8"></script>
        <script src="script/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="script/app/axios_app.js" type="text/javascript" charset="utf-8"></script>
        <script src="script/app/app.js" type="module" charset="utf-8"></script>
    </body>
</html>
